# MacOS
.DS_Store

# Xcode
build/
DerivedData/
*.xcodeproj
*.xcworkspace
*.xcscheme
*.xslt
xcuserdata/
*.moved-aside
*.xcuserstate
*.xccheckout
*.xcscmblueprint

# Tuist
Derived/
.tuist/

# Swift Package Manager
.swiftpm/
.build/
Packages/
Package.pins
Package.resolved
scratch/
